body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url("../static/images/RPrice.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out; /* Adiciona um efeito de fade-in */
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: #fff;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 8px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
.background-image {
    background-image: url("{% static 'images/RPrice.png' %}");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
body.dashboard-body {
    margin: 0;
    padding: 0;
    background-image: url("../static/images/RPrice.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    --color: #00A97F;
    text-align: center;
    border-radius: 50px;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
 .user-greeting {
        background-color: #f8f9fa;
        border: 1px solid #d1d3e2;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 14px;
        color: #333;
    }
   
    
    .custom-checkbox {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
    }
    
    /* Estilo do marcador do checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Estilize o marcador do checkbox quando o checkbox estiver marcado */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: #fff;
        border: 2px solid #2196F3;
        border-radius: 4px;
    }
    
    /* Estilize o marcador do checkbox quando o usuário passa o mouse */
    .custom-checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* Estilize o marcador do checkbox quando o checkbox estiver marcado */
    .custom-checkbox input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Estilize a marca dentro do marcador do checkbox */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Estilize a marca quando o checkbox estiver marcado */
    .custom-checkbox input:checked ~ .checkmark:after {
        display: block;
    }