* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.fundo {
  background: #F5F5F5;
}

.header {
  background: rgb(37, 31, 77);
  height: 50px;
}

.p-header {
  margin-right: 3px;
  margin-top: 7px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 1px;
}

.userName {
  margin-right: 20px;
  margin-top: 7px;
  color: #DC2768;
  font-weight: bold;
  letter-spacing: 1px;
}

.fa-user {
  height: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.fa  {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.offcanvas-sm {
  width: 280px;
  border-right: 2px solid rgb(37, 31, 77);
  height: 100vh;
}

.div-logo {
  height: 150px;
  background: url("../../assets/img/rprice_logo_280_150.png") center / contain no-repeat;
}

.a-titulo {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: rgb(37, 31, 77);
  transition: 0.1s;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.a-titulo:hover {
  width: 280px;
  background-color: rgb(37, 31, 77);
  color: white;
}

.nav-sub {
  width: 100%;
  height: 37px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(37, 31, 77);
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
}

.ul-item {
  font-size: 18px;
  font-weight: bold;
  padding-left: 0px;
}

.li-pad {
  padding-left: 55px;
  height: 37px;
  display: block;
  display: flex;
  align-items: center;
}

.nav-sub:hover {
  background-color: #DC2768;
  color: white;
}

.li-pad:hover {
  background-color: #DC2768;
  color: white;
}

/* Estilização modal personalizado */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-personalizado {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.close {
  font-size: 30px;
  cursor: pointer;
}

.input-modal-person {
  max-width: 300px;
}

.p-modal-person {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.exit {
  float: right;
}