<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-mail Enviado</title>
  </head>
  <body>
    <div class="container">
      <h1>E-mail enviado com sucesso!</h1>
      <p>Um e-mail com um link para concluir o cadastro foi enviado para o endereço informado.</p>
      <p>Por favor, verifique sua caixa de entrada e siga as instruções para concluir o cadastro.</p>
    </div>
  </body>
</html>
