{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background: #F5F5F5;">
    <!-- Start: Sidebar + Content -->
    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px; margin-top: 90px;">
        <div class="row">
            <!-- Start: Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div style="height: 150px;margin-top: 50px;margin-bottom: 50px;background: url('{% static "assets/img/rprice_logo_280_150.png" %}') center / contain no-repeat;width: 280px;"></div>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link">Menu</span>
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="modal" href="#modalDespesasFixas">
                                        Despesa Fixas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="modal" href="#modalMaoDeObra">
                                        Mão de Obra
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="modal" href="#modalCadastros">
                                        Cadastros
                                    </a>
                                </li>
                                <!-- Add Precificação -->
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="modal" href="#modalPrecificacao">
                                        Precificação
                                    </a>
                                </li>
                                <!-- Add Relatórios -->
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="modal" href="#modalRelatorios">
                                        Relatórios
                                    </a>
                                </li>
                                <!-- Add Horas Produtivas -->
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="modal" href="#modalHorasProdutivas">
                                        Horas Produtivas
                                    </a>
                                </li>
                                <!-- Add Sair -->
                                <li class="nav-item ml-auto">
                                    <a class="nav-link" href="{% url 'logout' %}">
                                        <i class="fa fa-sign-out"></i>
                                        Sair
                                    </a>
                                </li>
                                
                                <!-- ... rest of your menu items ... -->
                            </ul>
                        </li>
                        <!-- ... rest of your sidebar ... -->
                    </ul>
                </div>
            </nav>
            
            <!-- End: Sidebar -->
            <!-- Start: Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <!-- Conteúdo principal aqui -->
                <div class="text-end mt-2">
                    <div class="user-greeting">
                        <i class="fa fa-user"></i>
                        <p>Bem-vindo ao Dashboard, {{ user.username }}</p>
                    </div>
                </div>
            </main>
            <!-- End: Content -->
        </div>
    </div>
    <!-- End: Sidebar + Content -->

    <!-- Modal para inserir gastos fixos -->
    <div class="modal fade" id="modalDespesasFixas" tabindex="-1" aria-labelledby="modalDespesasFixasLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDespesasFixasLabel">Cadastrar Despesa Fixa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'inserir_gasto_fixo' %}">
                        {% csrf_token %}
                        <div class="despesa-container">
                            <div class="mb-3">
                                <label for="descricao" class="form-label">Descrição</label>
                                <input type="text" class="form-control" name="descricao" required>
                            </div>
                            <div class="mb-3">
                                <label for="valor" class="form-label">Valor</label>
                                <input type="number" class="form-control" name="valor" step="0.01" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="maisDespesasFixas">Acionar Mais Despesas</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim do modal para inserir gastos fixos, colocar isso para o arquivo js depois -->
    <script>
        document.getElementById('maisDespesasFixas').addEventListener('click', function () {
            const despesaContainer = document.querySelector('.despesa-container');
            const clone = despesaContainer.cloneNode(true);
            const descricaoInput = clone.querySelector('input[name="descricao"]');
            const valorInput = clone.querySelector('input[name="valor"]');
            descricaoInput.value = '';
            valorInput.value = '';
            despesaContainer.parentNode.insertBefore(clone, despesaContainer.nextSibling);
        });
    </script>
    
    <!-- fim da Modal Gastos Fixos-->

    <!-- Começo da Modal Mão de Obra-->
    <div class="modal fade" id="modalMaoDeObra" tabindex="-1" aria-labelledby="modalMaoDeObraLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMaoDeObraLabel">Cadastrar Mão de Obra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'inserir_mao_de_obra' %}">
                        {% csrf_token %}
                        <div class="mao-de-obra-container">
                            <div class="mb-3">
                                <label for="matricula" class="form-label">Matrícula</label>
                                <input type="text" class="form-control" name="matricula" required>
                            </div>
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control" name="nome" required>
                            </div>
                            <div class="mb-3">
                                <label for="cpf" class="form-label">CPF</label>
                                <input type="text" class="form-control" name="cpf" required>
                            </div>
                            <div class="mb-3">
                                <label for="salario" class="form-label">Salário</label>
                                <input type="number" class="form-control" name="salario" step="0.01" required>
                            </div>
                            <div class="mb-3">
                                <label for="beneficios" class="form-label">Benefícios</label>
                                <input type="number" class="form-control" name="beneficios" step="0.01" required>
                            </div>
                            <div class="mb-3">
                                <label for="encargos" class="form-label">Encargos</label>
                                <input type="number" class="form-control" name="encargos" step="0.01" required>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" name="cargo" required>
                                    <option value="" selected disabled>Selecione um cargo</option>
                                    {% for cargo in cargos %}
                                        <option value="{{ cargo.id }}">{{ cargo.nome_cargo }}</option>
                                    {% endfor %}
                                </select>                               
                            </div>
                            <div class="mb-3">
                                <label for="endereco" class="form-label">Endereço</label>
                                <select class="form-select" name="endereco" required>
                                    <option value="" selected disabled>Selecione um endereço</option>
                                    {% for endereco in enderecos %}
                                        <option value="{{ endereco.id }}">{{ endereco.endereco }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="maisMaoDeObra">Acionar Mais Mão de Obra</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                fetch("{% url 'cargos_vieww' %}")
                    .then(response => response.json())
                    .then(data => {
                        const selectElement = document.querySelector('select[name="cargo"]');
                        data.cargos.forEach(cargo => {
                            const option = document.createElement('option');
                            option.value = cargo.id;
                            option.textContent = cargo.nome_cargo;
                            selectElement.appendChild(option);
                        });
                    });
            });
            document.addEventListener('DOMContentLoaded', function () {
                fetch("{% url 'endereco_view' %}")
                    .then(response => response.json())
                    .then(data => {
                        const selectElement = document.querySelector('select[name="endereco"]');
                        data.enderecos.forEach(endereco => {
                            const option = document.createElement('option');
                            option.value = endereco.id;
                            option.textContent = endereco.endereco;  // Usar 'endereco' em vez de 'endereco.nome_endereco'
                            selectElement.appendChild(option);
                        });
                    });
            });
            

        document.getElementById('maisMaoDeObra').addEventListener('click', function () {
            const maoDeObraContainer = document.querySelector('.mao-de-obra-container');
            const clone = maoDeObraContainer.cloneNode(true);
            const matriculaInput = clone.querySelector('input[name="matricula"]');
            const nomeInput = clone.querySelector('input[name="nome"]');
            const cpfInput = clone.querySelector('input[name="cpf"]');
            const salarioInput = clone.querySelector('input[name="salario"]');
            const beneficiosInput = clone.querySelector('input[name="beneficios"]');
            const encargosInput = clone.querySelector('input[name="encargos"]');
            matriculaInput.value = '';
            nomeInput.value = '';
            cpfInput.value = '';
            salarioInput.value = '';
            beneficiosInput.value = '';
            encargosInput.value = '';
            maoDeObraContainer.parentNode.insertBefore(clone, maoDeObraContainer.nextSibling);
        });
    </script>
    
    
    
    
</body>
</html>
