{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pesquisa Cargos</title>
    <link rel="stylesheet" href="{% static 'assets/css/tabelas.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_tabelas.js' %}"></script>
    <script defer src="{% static 'assets/js/delete.js' %}"></script>
</head>
<body>
    <thead>    
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>    
    {% for cargo in page_obj %}
        <tr>
            <td>{{ cargo.id }}</td>
            <td>{{ cargo.nome_cargo }}</td>
            <td>
                {% comment %} <a href="{% url 'editar_cargo' cargo.id %}" class="edit-link" data-bs-toggle="modal" data-bs-target="#modalCargoSalario"> {% endcomment %}
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a href="{% url 'deletar_cargo' cargo.id %}" class="delete-link">
                    <i class="bi bi-trash-fill delete-icon"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</body>
</html>